<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="carMapper">
    <resultMap id="carInfo" type="com.green.ReactCarManager.vo.CarInfoVO">
        <id column="CAR_NUM" property="carNum"/>
        <result column="MODEL_NAME" property="modelName"/>
        <result column="PRICE" property="price"/>
        <result column="MADE_BY" property="madeBy"/>
    </resultMap>

    <resultMap id="salesInfo" type="com.green.ReactCarManager.vo.SalesInfoVO">
        <id column="SALES_NUM" property="salesNum"/>
        <result column="BUYER" property="buyer"/>
        <result column="TEL" property="tel"/>
        <result column="COLOR" property="color"/>
        <result column="SALES_DATE" property="salesDate"/>
        <result column="CAR_NUM" property="carNum"/>
        <association property="carInfoVO" resultMap="carInfo"/>
    </resultMap>

    <select id="selectCarInfoList" resultMap="carInfo">
        select
            CAR_NUM ,
            MODEL_NAME ,
            PRICE ,
            MADE_BY
        from
            car_info
    </select>

    <insert id="insertCarInfo">
        INSERT INTO CAR_INFO(
            MODEL_NAME ,
            PRICE ,
            MADE_BY )
        VALUES (
            #{modelName},
            #{price},
            #{madeBy}
        )
    </insert>

</mapper>































